{% extends 'base.html' %}
{% block title %}
<title>Contact</title>
{% endblock %}

{% block content %}
    <div class="container-fluid jumbotron text-dark">
        <h2>Customer Service : 1800 5250 0007</h2>
        <h2>General Queries : 045 2537 9978</h2>
        <h2>Email : <a href="#">  studyhall@gmail.com</h2></a>
        <h2>For Complaints : <a href="#">  usercomplaints@studyhall.co.in</h2></a>
        <h2>Address : PB No: 5555, 254-260, Avvai Shanmugam Salai, <br>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            Royapettah, Mumbai, Maharashtra, India</h2>
    </div>
{% endblock %}