{% extends 'base.html' %}
{% block title %}
<title>Display</title>
{% endblock %}
{% block content %}
<table class="table table-hover table-borderless bg-light mt-10">
    <thead>
        <th>ID</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Edition</th>
        <th>Genre</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for i in allbooks %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.book_name}}</td>
            <td>{{i.author_name}}</td>
            <td>{{i.edition}}</td>
            <td>{{i.genre}}</td>
            <td>
                <a href="{% url 'updatebook' i.id %}" class="btn btn-warning"><span><i class="bi bi-pencil"></i></span></a>
                <a href="{% url 'deletebook' i.id %}" class="btn btn-danger"><span><i class="bi bi-trash"></i></span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if messages %}
    {% for i in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{i}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    {% endfor %}
{% endif %}
{% endblock %}
